
<mat-card>
  <mat-card-title>Customer Setup</mat-card-title>
<hr />
<form class="customer-form" [formGroup]="customerForm" (ngSubmit)="submitForm()">
  <mat-form-field class="customer-full-width " appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field class="customer-full-width " appearance="fill">
    <mat-label>Mobile Number</mat-label>
    <input matInput formControlName="mobileNumber">
  </mat-form-field>
  <mat-form-field class="customer-full-width " appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>
  <!-- <mat-form-field class="customer-full-width " appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field class="customer-full-width " appearance="fill">
    <mat-label>Address</mat-label>
    <textarea matInput formControlName="address"></textarea>
  </mat-form-field>
  
  <div>
    <button mat-raised-button color="primary">Save</button> 
  </div>
  
  </form>
</mat-card>


