<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><h1><span class="app-name-first-part-font">k</span>Shop Application</h1></span>
    <button mat-button routerLink="..">Home</button>
    <button mat-button routerLink="/customer-setup">Customer Setup</button>
    <button mat-button routerLink="/product-setup">Product Setup</button>
  </mat-toolbar>
</p>
<div class="content"> 
  <router-outlet></router-outlet>
</div>
