
<mat-card>
    <mat-card-title>Product Setup</mat-card-title>
  <hr />
  <form class="customer-form" [formGroup] = "productForm" (ngSubmit)="submitForm()">
    <mat-form-field class="customer-full-width " appearance="fill">
        <mat-label>Product ID</mat-label>
        <input matInput formControlName="productId">
    </mat-form-field>
    <mat-form-field class="customer-full-width " appearance="fill">
      <mat-label>Product Name</mat-label>
      <input matInput formControlName="productName">
    </mat-form-field>
    <!-- <mat-form-field class="customer-full-width " appearance="fill">
      <mat-label>Quantity</mat-label>
      <input matInput>
    </mat-form-field> -->
    <mat-form-field class="customer-full-width " appearance="fill">
      <mat-label>Product Type</mat-label>
      <mat-select formControlName="productType">
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="customer-full-width " appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="productPrice">
  </mat-form-field>

    <mat-form-field class="customer-full-width " appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="productDescription"></textarea>
    </mat-form-field>
    
    <div>
      <button mat-raised-button color="primary">Save</button> 
    </div>
    
    </form>
  </mat-card>
  
  
  